In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from pprint import pprint
import pandas as pd

In [2]:
letter = input("Enter a letter: ")
uc = letter.upper()
lc = letter.lower()

Enter a letter: a

In [3]:
base_url = f"http://search.sunbiz.org/Inquiry/CorporationSearch/SearchResults/EntityName/{lc}/Page1?searchNameOrder={uc}"
r = requests.get(base_url)
webpage = bs(r.content, features='lxml')

In [4]:
table = webpage.find('table')
columns = table.find_all('th')
column_names = [c.string for c in columns]
table_rows = table.find_all('tr')

In [5]:
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.string for tr in td ]
    l.append(row)
df = pd.DataFrame(l,columns=column_names)

In [7]:
df.head()

  Corporate Name Document Number  Status
0           None            None    None
1  CORPORATION A          142126   INACT
2          A INC          220851   INACT
3        A CORP.          484073  Active
4        A, INC.          495181   INACT